.container {
    margin-left: 10vh;
    background-color: azure;
    max-width: 460px;
    border-radius: 10px;
    @media (max-width: 414px) {
        margin-left: 4%;
        max-width: 90%;
    }
    .title {
        font-size: 16px;
        padding-top: 10px;
        padding-left: 10px;
        .title_span {
            font-weight: 600;
            font-size: 36px;
            color: #2b396b;
        }
    }
    .rate_input {
        padding-bottom: 10px;
        padding-left: 12px;
    }
}